.projects__container {
  padding: 1rem;
  border-radius: 10px;
  width: 90vw;
  margin: auto;
  margin-top: 0.2rem;
}

.projects__item {
  width: 90%;
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.projects__item h5 {
  margin-bottom: 0.5rem;
}

.projects__item-image {
  border-radius: 1.5rem 0;
  overflow: hidden;
  position: relative;
}

.back {
  position: absolute;
  top: 0;
  background: rgba(1, 10, 27, 0.767);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

.projects__item-image h5 {
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 100;
  transform: translate(-5%, -50%);
  transition: var(--transition);
  color: rgb(255, 255, 255);
  opacity: 0;
}

.projects__item-image:hover .back {
  opacity: 1;
  cursor: pointer;
}

.projects__item-image:hover h5 {
  opacity: 1;
  top: 50%;
}

.tech_stacks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin: 1rem 1rem 1rem 0;
}

.tech_stacks > div {
  height: 1.7rem;
}

.tech_stacks img {
  height: 100%;
  transition: var(--transition);
  cursor: pointer;
}

.tech_stacks img:hover {
  transform: scale(1.3);
}

.projects__item h3 {
  margin: 0.8rem 0 0.5rem;
}

.projects__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES) ============ */

@media screen and (max-width: 1024px) {
  .projects__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ============ */

@media screen and (max-width: 600px) {
  .projects__container {
    width: 100vw;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .projects__item {
    width: 100%;
  }

  .projects__item-cta {
    flex-direction: column;
  }
}
