.projects {
  min-height: 100vh;
  /* border: 1px solid black; */
  background-size: cover;
  background: #ffffff;
  display: flex;
  justify-content: center;
  z-index: 9;
  padding-top: 95px;
  /* overflow-y: scroll; */
}

.ProjectList {
  /* border: 1px solid rgb(156, 5, 5); */
  height: 80%;
  width: 90%;
  margin-top: 0px;
  z-index: 3;
  padding: 15px 20px;
  text-align: center;
}

.title-project {
  /* border: 1px solid black; */
  height: 100%;
}

.main-PR {
  /* border: 1px solid blue; */
  width: 185px;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  background: linear-gradient(red, rebeccapurple);
  color: white;
  border-radius: 20px;
}

.main-PR h1 {
  font-size: 2em;
}

.lists {
  /* border: 1px solid green; */
  height: 85%;
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.ikea,
.h-m {
  /* border: 1px solid red; */
  width: 600px;
  /* height: 550px; */
}

.screen {
  /* border: 1px solid black; */
  height: auto;
}

.screen img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.des {
  /* border: 1px solid red; */
  height: 65px;
  margin-top: 15px;
}

.tech-stack h2 {
  background-color: rgb(225, 81, 14);
  color: white;
  padding: 10px 0px;
}

.icons {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
}

.icons .icon {
  /* border: 1px solid rgb(255, 0, 0); */
  width: 30px;
  height: 30px;
  /* background: #e4e4e4; */
  border-radius: 10px;
}

.icon img {
  height: 100%;
}

.icon:hover img {
  transform: scale(1.3);
  transition: 0.3s;
  cursor: pointer;
}

.links {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

button {
  padding: 5px 20px;
  /* height: 50px; */
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  outline: none;
  border: none;
  border-radius: 20px;
  background: #01300f;
  color: white;
}

button a {
  color: white;
}

button:hover {
  background: #03862a;
  color: rgb(245, 245, 245);
  transform: translateY(12px);
  transition: 0.2s;
}

.screen:hover img {
  border-radius: 20px;
  border: 2px solid #eff;
  transition: 0.5s;
  transform: scale(1.3);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media screen and (min-width: 726px) and (max-width: 1066px) {
  .des {
    height: 105px;
  }

  .links button {
    font-size: 1em;
    width: 80px;
  }
}

@media screen and (min-width: 476px) and (max-width: 726px) {
  .des {
    height: 50px;
    font-size: 0.8em;
    width: 80vw;
    margin: auto;
  }

  .links button {
    font-size: 1em;
    width: 80px;
  }

  .ikea {
    margin-bottom: 10px;
  }

  .lists {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
  }

  .main-PR {
    font-size: 1em;
    width: 100px;
    padding: 5px 0;
  }
  .main-PR h1 {
    font-size: 1.4em;
  }

  .ProjectList {
    margin-top: -40px;
  }

  .screen {
    width: 300px;
    margin: auto;
  }

  .tech-stack h2 {
    font-size: 1em;
    width: 80vw;
    margin: auto;
    margin-top: 5px;
  }
}

@media screen and (min-width: 0px) and (max-width: 476px) {
  .des {
    height: 60px;
    font-size: 0.8em;
    width: 80vw;
    margin: auto;
  }

  .links button {
    font-size: 1em;
    width: 80px;
  }

  .ikea {
    margin-bottom: 10px;
  }

  .lists {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
  }

  .main-PR {
    font-size: 1em;
    width: 100px;
    padding: 5px 0;
  }
  .main-PR h1 {
    font-size: 1.4em;
  }

  .ProjectList {
    margin-top: -40px;
  }

  .screen {
    width: 300px;
    margin: auto;
  }

  .tech-stack h2 {
    font-size: 1em;
    width: 80vw;
    margin: auto;
    margin-top: 5px;
  }
}
