.about {
  gap: 1rem;
  min-height: 50vh;
  margin-top: 5rem;
}

.about__content {
  /* width: 950px; */
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 5rem;
  background: #5151;

  color: black;
  /* background: linear-gradient(to bottom, #094094, #616aae, #010d1f); */
  /* border-radius: 0.5rem; */
}

.profile__image {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  padding-top: 2rem;
  padding-bottom: 0;
  background: rgb(1, 7, 5);
  overflow-y: hidden;
  border-radius: 50%;
}

.profile__image img {
  width: 100%;
}

.profile__info {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}

.profile__info h2 {
  margin-bottom: 1rem;
  text-decoration: underline;
  color: rgb(65, 4, 59);
  font-weight: 700;
}

@media screen and (max-width: 1086px) {
  .about__content {
    display: flex;
    align-items: center;
  }

  .profile__info h2 {
    color: white;
  }
}

@media screen and (max-width: 740px) {
  .about {
    padding: 0;
  }

  .about__content {
    height: auto;
    width: 100%;
    padding: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0;
  }

  .profile__image {
    min-width: 220px;
    min-height: 220px;
    max-width: 220px;
    max-height: 220px;
  }
}
