.about {
  background: #ffffff;
  /* border: 1px solid black; */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about .links-social {
  background: rgb(255, 253, 252);
  position: fixed;
  bottom: 0;
  /* border: 1px solid red; */
  height: 50px;
  width: 100%;
  z-index: 11;
}

.about .links-social .icons {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 100%;
}

.about .links-social .icons ion-icon {
  height: 20px;
  width: 20px;
  padding: 10px;
  transition: 0.5s;
  margin-bottom: 15px;
}

.about .links-social .icons ion-icon:hover {
  background: rgb(156, 156, 156);
  border-radius: 8px;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  /* border: 1px solid darkblue; */
}

.content {
  /* border: 1px solid red; */
  padding: 10px 30px;
  width: 50%;
  height: 100%;
  /* text-align: center; */
  margin-top: 20px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.content button {
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 19px;
  width: 200px;
}

.hello {
  font-size: 3em;
  color: rgb(141, 0, 0);
}

.name {
  font-size: 4.5em;
  color: rgb(13, 2, 116);
  margin-top: 10px;
}

.intro {
  color: rgb(204, 18, 18);
  margin-top: 10px;
}

.intro-About {
  color: rgba(255, 255, 7, 0.74);
  margin-top: 30px;
}

.abt {
  font-size: 1.1em;
  margin-top: 20px;
}

.png {
  /* border: 1px solid blue; */
  width: 50%;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 35%;
}

.png img {
  /* border: 1px solid red; */
  background: #f52;
  border-radius: 20px;
  height: 100%;
  
}

.rsmue {
  width: 100px;
}

.rsmue button {
  cursor: pointer;
}

@media screen and (min-width: 800px) and (max-width: 1166px) {
  .about {
    padding-top: 105px;
  }

  .main {
    /* border: 1px solid red; */
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content {
    /* border: 1px solid blue; */
    width: 100%;
    margin: auto;
    height: 30%;
  }

  .png {
    /* border: 1px solid blue; */
    margin-top: 0px;
    margin-bottom: 100px;
    margin: auto;
    width: auto;
  }

  .hello {
    font-size: 1.5em;
    color: rgb(141, 0, 0);
  }

  .name {
    font-size: 3em;
    color: rgb(13, 2, 116);
    margin-top: 10px;
  }

  .intro {
    color: rgb(204, 18, 18);
    margin-top: 10px;
  }
}

@media screen and (min-width: 375px) and (max-width: 800px) {
  .main {
    /* border: 1px solid red; */
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content {
    /* border: 1px solid blue; */
    width: 100%;
    margin: auto;
    height: 30%;
  }

  .png {
    /* border: 1px solid blue; */
    margin-top: 0px;
    margin-bottom: 100px;
    margin: auto;
    width: auto;
  }

  .hello {
    font-size: 1em;
    color: rgb(141, 0, 0);
  }

  .name {
    font-size: 1.5em;
    color: rgb(13, 2, 116);
    margin-top: 10px;
  }

  .intro {
    font-size: 1em;
    color: rgb(204, 18, 18);
    margin-top: 10px;
  }

  .png {
    height: 300px;
    margin-top: 60px;
  }

  .main {
    margin-top: 100px;
  }

  .abt {
    font-size: 1em;
  }

  .content button {
    width: 100px;
    padding: 5px 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 375px) {
  .main {
    /* border: 1px solid red; */
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content {
    /* border: 1px solid blue; */
    width: 100%;
    margin: auto;
    height: 30%;
  }

  .png {
    /* border: 1px solid blue; */
    margin-top: 0px;
    margin-bottom: 100px;
    margin: auto;
    width: auto;
  }

  .hello {
    font-size: 1em;
    color: rgb(141, 0, 0);
  }

  .name {
    font-size: 2.3em;
    color: rgb(13, 2, 116);
    margin-top: 10px;
  }

  .intro {
    font-size: 1em;
    color: rgb(204, 18, 18);
    margin-top: 10px;
  }

  .png {
    height: 300px;
    margin-top: 20px;
    /* border: 1px solid red; */
  }

  .main {
    margin-top: 100px;
  }

  .abt {
    font-size: 1em;
  }

  .content button {
    width: 100px;
    padding: 5px 0;
  }
}
