.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background: linear-gradient(rgb(39, 5, 33), black);
  padding: 0.8rem 0 0 0;
  border-radius: 0.5rem;
  box-shadow: rgb(7, 2, 75) 10px 10px 10px -10px;
}

.about__container .me__profile {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 1rem;
}

.profileBG {
  position: absolute;
  top: -50px;
  left: 1;
  z-index: 1;
  width: 5rem;
}

.me__profile img {
  width: 50%;
  z-index: 2;
}

.details__me {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.details__me h4 {
  font-size: 1.7rem;
  color: rgb(24, 67, 107);
}

@media screen and (max-width: 950px) {
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }
}
