header {
  height: 95vh;
  padding-bottom: 2rem;
  /* height: max-content; */
  overflow: hidden;
}

.home__container {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.home__container a:hover {
  transform: scale(1.1);
}

.about__myself {
  width: 70%;
}

.home__container > h4 {
  width: 60%;
  margin: auto;
  font-size: 0.9rem;
}

.about__cont {
  width: 60%;
  margin: auto;
  margin-top: 1rem;
  color: var(--color-white);
  text-decoration: solid;
}

/* buttons */

.RSbtn {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* img */

.me {
  /* background: #060120; */
  height: 100%;
  width: 22rem;
  overflow: hidden;
  padding: 3rem 0 0 0;
  transition: var(--transition);
}

.me img {
  width: 100%;
  transition: var(--transition);
}

.me__image {
  position: relative;
  margin-top: 3rem;
}

/* .glowing__border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.glowing__border::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
} */

/* .glowing__border::before,
.glowing__border::after {
  background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
} */

.my__about {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0.5rem;
  opacity: 0;
  transition: var(--transition);
}

/* socials */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.header__socials a:hover {
  transform: scale(1.8);
}

/* scroll down */

.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: max-content;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .about__myself > .about__cont {
    display: none;
  }

  .home__container {
    flex-direction: column;
  }

  .me__image:hover .me > img {
    opacity: 0.1;
  }

  .me__image:hover .my__about {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: max-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .home__container {
    flex-direction: column;
  }

  .about__myself > h1 {
    font-size: 1.5rem;
  }

  .about__myself > .about__cont {
    display: none;
  }

  .header__socials {
    background: rgba(2, 1, 20, 0.3);
    backdrop-filter: blur(15px);
    width: max-content;
    padding: 0.5rem 2rem;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    z-index: 500;
  }

  .header__socials::after {
    background: none;
  }

  .scroll_down {
    display: none;
  }

  .me__image {
    width: 300px;
  }

  .me {
    width: 100%;
  }

  .me__image:hover .me > img {
    opacity: 0.1;
  }

  .me__image:hover .my__about {
    opacity: 1;
  }

  .RSbtn {
    flex-direction: column;
    align-items: center;
  }
}
