header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.home__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.home__container a:hover {
  transform: scale(1.1);
}

.home__container > h4 {
  width: 60%;
  margin: auto;
  font-size: 0.9rem;
}

.about__cont {
  width: 60%;
  margin: auto;
  margin-top: 1rem;
  color: rgb(129, 235, 253);
}

/* buttons */

.RSbtn {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* img */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  transition: var(--transition);
}

.me img {
  height: 100%;
}

.me:hover {
  transform: scale(1.1);
}

/* socials */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.header__socials a:hover {
  transform: scale(1.8);
}

/* scroll down */

.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
    padding-top: 4rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    padding-top: 2rem;
  }

  .home__container > h1 {
    font-size: 1.5rem;
  }

  .home__container > .about__cont {
    display: none;
  }

  .header__socials {
    top: 0;
  }
}
